@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  /* colors */
  --color-darkBlue: #202047;
  --color-grayishBlue: #babacf;
  --color-bg: #ffffff;

  /* font-weight */
  --lh-light: 300;
  --lh-medium: 500;
  --lh-bold: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus,
*:focus-visible {
  outline: #202047 dotted 4px;
  outline-offset: 4px;
}

img {
  max-width: 100%;
  display: block;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: url(../images/pattern-curve.svg) no-repeat left bottom;
  color: var(--color-darkBlue);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1292px;
  padding: 0 2.5rem;
}

.testimonial {
  background: url(../images/pattern-bg.svg) no-repeat top 58px right 1px;
  width: 100%;
  height: 45rem;
  display: grid;
  align-items: center;
  position: relative;
}

.testimonial__box {
  max-width: 69.375rem;
  margin: 0 auto;
  display: flex;
  padding-top: 3.938rem;
  grid-area: 1 / 1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* for when javascript is disabled, will show one of the testimonials */
.visible {
  opacity: 1;
}

.testimonial__content {
  display: grid;
  align-content: start;
  row-gap: 2rem;
  padding-top: 10.313rem;
  margin-right: -4.063rem;
  z-index: 1;
}

.testimonial__img {
  width: 33.75rem;
  box-shadow: 0 2.5rem 3.125rem -1.875rem rgba(36, 36, 113, 0.495001);
  border-radius: 0.313rem;
}

.testimonial__text {
  font: var(--lh-light) 32px/1.38 "Inter";
  max-width: 39.688rem;
  position: relative;
}

.testimonial__text::before {
  content: "";
  display: block;
  width: 7.5rem;
  height: 6.25rem;
  background: url(../images/pattern-quotes.svg) no-repeat;
  position: absolute;
  top: -4rem;
  left: 5.938rem;
}

.testimonial__author {
  font: var(--lh-bold) 1.25rem/1.9 "Inter";
  display: flex;
  align-items: start;
  gap: 10px;
}

.testimonial__author > span {
  font-weight: var(--lh-medium);
  color: var(--color-grayishBlue);
}

.testimonial__btn-box {
  grid-area: 1 / 1;
  padding: 1.25rem 1.5rem;
  background: var(--color-bg);
  border-radius: 6.25rem;

  display: flex;
  align-items: flex-start;
  gap: 3rem;
  place-self: end center;
  transform: translate(5rem, -1.8rem);
  box-shadow: 0 0.938rem 1.25rem -0.625rem rgba(36, 36, 113, 0.0991313);
}

.btn__prev,
.btn__next {
  border: none;
  background: none;
  cursor: pointer;
}

.btn__prev,
.btn__next {
  width: 0.75rem;
  height: 1.125rem;
}
