@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  --color-darkBlue: #202047;
  --color-grayishBlue: #babacf;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: url(../images/pattern-curve.svg) no-repeat left bottom;
  color: var(--color-darkBlue);
  height: 100vh;
}

.container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px; */
  /* overflow: hidden; */
  /* max-width: 1190px; */
  max-width: 1190px;
  height: 100%;
  margin: 0 auto;
  position: relative;

  overflow: hidden;
}

.testimonial {
  padding: 0 40px;

  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 1s;
}

.box {
  width: 100%;
  height: 100%;
}

.testimonial__box {
  width: 1110px;
  display: grid;
  /* align-items: center; */
  background: url(../images/pattern-quotes.svg) no-repeat top 99px left 95px;
  position: relative;
}

.testimonial__content {
  grid-area: 1 / 1;
  z-index: 1;
  display: grid;
  align-content: start;
  gap: 32px;
  padding-top: 165px;
}

.testimonial__text {
  font: 300 2rem/1.38 "Inter";
  max-width: 635px;
}

.testimonial__author {
  font: 700 1.25rem/1.9 "Inter";
}

.testimonial__author > span {
  font-weight: 500;
  color: var(--color-grayishBlue);
}

.testimonial__img-box {
  grid-area: 1 / 1;
  place-self: end;
  position: relative;
  box-shadow: 0px 40px 50px -30px rgba(36, 36, 113, 0.495001);
}

.btn-box {
  position: absolute;
  bottom: 0;
  left: 62px;
  transform: translateY(50%);

  padding: 20px 24px;
  background: #fff;
  border-radius: 100px;

  display: flex;
  gap: 48px;
  z-index: 2;

  box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
}

.btn-prev img,
.btn-next img {
  width: 8px;
  height: auto;
}

.btn-prev,
.btn-next {
  border: none;
  background: none;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .testimonial__text {
    font-size: 1.3rem;
    line-height: 1.33;
    max-width: 540px;
  }

  .testimonial__img {
    width: 480px;
  }
}

@media (max-width: 960px) {
  .testimonial__box {
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    row-gap: 82px;

    background: url(../images/pattern-quotes.svg) no-repeat center center;
    background-size: 60px 50px;
  }

  .testimonial__img-box,
  .testimonial__content {
    grid-area: initial;
  }

  .testimonial__box {
    background: none;
  }

  .testimonial__content {
    padding-top: 0;
    text-align: center;
  }

  .testimonial__img-box {
    grid-row: 1;
    justify-self: center;
  }

  .testimonial__author {
    display: grid;
  }

  .testimonial__img {
    width: 380px;
  }

  .btn-box {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
